[Desktop Entry]
Name=USB mode
Type=HildonControlPanelPlugin
Icon=statusarea_usb_active
Categories=Connectivity
X-control-panel-plugin=libcpusbmode.so
